.top {
    border-bottom: 2px dashed @silver;
    padding: 5rem;

    @media @mobile {
        display: flex;
        justify-content: center;
    }

    h1 {
        float: left;

    @media @mobile {
      width: 200px;
      text-align: center;
    }
    }

    nav {
        float: right;

        a {
            padding: 1rem;
            font-size: 1.7rem;
            text-decoration: none;
            color: @shark;
        }
    }

    .info {
        margin: auto;
        width: 700px;
    }
}