.top-box {
    display: flex;
    padding: 2rem;
    border-bottom: 2px dashed @silver;

    @media @mobile {
        flex-direction: column;
        padding-bottom: 0;
    }
   
h1 {
    margin: auto;

    @media @mobile {
        padding: 0;
    }
}

nav {
    padding: 2rem;
    margin: auto;
    
    @media @mobile {
        padding: 0;
    }

    a {
        float: right;
        text-decoration: none;
        font-size: 1.6rem;
        padding: 1.8rem;
        color: @shark;
        
    }
}


}