.top-box {
    display: flex;
    padding: 2rem;
    border-bottom: 2px dashed @silver;

    @media @mobile {
      width: 478px;
        padding-bottom: 0;
    }

   


   
h1 {
  
    display: inline;
    text-align: center;
  

    @media @mobile {
        font-size: 6rem;
        margin-right: 4rem;
        display: block;
        padding: .8rem;
    }



}

nav {
    width: 800px;
    margin: auto;
    
    @media @mobile {
        margin: auto;
        width: 100%;
        padding: 1.7rem;
    }

   

    a {
        float: right; 
        text-decoration: none;
        font-size: 1.6rem;
        padding: 1.8rem;
        color: @shark;
        
      @media @mobile {
          float: none;
          
      }
    }
}


}